body.light {
    --primary: #348578;
    --on-primary: #ffffff;
    --primary-container: #3ebfac;
    --on-primary-container: #00201b;
    --secondary: #185085;
    --on-secondary: #ffffff;
    --secondary-container: #cde8e1;
    --on-secondary-container: #06201b;
    --tertiary: #446179;
    --on-tertiary: #ffffff;
    --tertiary-container: #cbe6ff;
    --on-tertiary-container: #001e30;
    --error: #ba1a1a;
    --on-error: #ffffff;
    --error-container: #ffdad6;
    --on-error-container: #410002;
    --background: #fafdfb;
    --on-background: #191c1b;
    --surface: #f7faf8;
    --on-surface: #191c1b;
    --surface-variant: #dae5e1;
    --on-surface-variant: #3f4946;
    --outline: #6f7976;
    --outline-variant: #bec9c5;
    --shadow: #000000;
    --scrim: #000000;
    --inverse-surface: #2d3130;
    --inverse-on-surface: #eff1ef;
    --inverse-primary: #55dbc6;
    --surface-dim: #d8dbd8;
    --surface-bright: #f7faf8;
    --surface-container-lowest: #ffffff;
    --surface-container-low: #f2f4f2;
    --surface-container: #eceeec;
    --surface-container-high: #e6e9e7;
    --surface-container-highest: #e0e3e1;
}
